<a href="https://colab.research.google.com/github/sarasiddiqui1998/OBD-II/blob/master/OBDII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

Using TensorFlow backend.

In [10]:
from google.colab import files
uploaded = files.upload()

Saving OBD.csv to OBD.csv

In [11]:
dataframe = pd.read_csv("OBD.csv", delimiter=",")
dataset = dataframe.values
np.shape(dataframe)

# encoder = LabelEncoder()
# encoder.fit(dataset)
# encoded_Y = encoder.transform(dataset)
# # convert integers to dummy variables (i.e. one hot encoded)
# dummy_y = np_utils.to_categorical(encoded_Y,18)

(1356, 18)

In [0]:
data=dataframe['GPS Time'].str.split(' ',n=5,expand=True)
dataframe['Day']=data[0]
dataframe['Month']=data[1]
dataframe['Date']=data[2]
dataframe['Time']=data[3]
dataframe['Time zone']=data[4]
dataframe['Year']=data[5]

In [20]:
dataframe

                          GPS Time  Device Time  ...  Time zone  Year
0     Thu Nov 02 15:44:24 CDT 2017      44:25.1  ...        CDT  2017
1     Thu Nov 02 15:44:25 CDT 2017      44:26.1  ...        CDT  2017
2     Thu Nov 02 15:44:26 CDT 2017      44:27.1  ...        CDT  2017
3     Thu Nov 02 15:44:27 CDT 2017      44:28.1  ...        CDT  2017
4     Thu Nov 02 15:44:27 CDT 2017      44:29.1  ...        CDT  2017
...                            ...          ...  ...        ...   ...
1351  Thu Nov 02 16:06:56 CDT 2017      06:56.1  ...        CDT  2017
1352  Thu Nov 02 16:06:57 CDT 2017      06:57.1  ...        CDT  2017
1353  Thu Nov 02 16:06:58 CDT 2017      06:58.1  ...        CDT  2017
1354  Thu Nov 02 16:06:58 CDT 2017      06:59.1  ...        CDT  2017
1355  Thu Nov 02 16:06:58 CDT 2017      07:00.1  ...        CDT  2017

[1356 rows x 24 columns]

In [22]:
datatime=dataframe['Time'].str.split(':',n=3,expand=True)
datatime

       0   1   2
0     15  44  24
1     15  44  25
2     15  44  26
3     15  44  27
4     15  44  27
...   ..  ..  ..
1351  16  06  56
1352  16  06  57
1353  16  06  58
1354  16  06  58
1355  16  06  58

[1356 rows x 3 columns]

In [0]:
datatime.dropna(inplace=True)
dataframe.drop(columns='Time',inplace=True)

In [32]:
dataframe['Hours']=datatime[0]
dataframe['Minutes']=datatime[1]
dataframe['Seconds']=datatime[2]
dataframe

                          GPS Time  Device Time  ...  Minutes  Seconds
0     Thu Nov 02 15:44:24 CDT 2017      44:25.1  ...       44       24
1     Thu Nov 02 15:44:25 CDT 2017      44:26.1  ...       44       25
2     Thu Nov 02 15:44:26 CDT 2017      44:27.1  ...       44       26
3     Thu Nov 02 15:44:27 CDT 2017      44:28.1  ...       44       27
4     Thu Nov 02 15:44:27 CDT 2017      44:29.1  ...       44       27
...                            ...          ...  ...      ...      ...
1351  Thu Nov 02 16:06:56 CDT 2017      06:56.1  ...       06       56
1352  Thu Nov 02 16:06:57 CDT 2017      06:57.1  ...       06       57
1353  Thu Nov 02 16:06:58 CDT 2017      06:58.1  ...       06       58
1354  Thu Nov 02 16:06:58 CDT 2017      06:59.1  ...       06       58
1355  Thu Nov 02 16:06:58 CDT 2017      07:00.1  ...       06       58

[1356 rows x 27 columns]

In [42]:
dataframe

      Device Time   Longitude   Latitude  ...  Hours  Minutes  Seconds
0         44:25.1  -97.662474  30.483089  ...     15       44       24
1         44:26.1  -97.662476  30.483068  ...     15       44       25
2         44:27.1  -97.662478  30.483006  ...     15       44       26
3         44:28.1  -97.662546  30.482689  ...     15       44       27
4         44:29.1  -97.662546  30.482689  ...     15       44       27
...           ...         ...        ...  ...    ...      ...      ...
1351      06:56.1  -97.768033  30.574161  ...     16       06       56
1352      06:57.1  -97.768063  30.574162  ...     16       06       57
1353      06:58.1  -97.768094  30.574162  ...     16       06       58
1354      06:59.1  -97.768094  30.574162  ...     16       06       58
1355      07:00.1  -97.768094  30.574162  ...     16       06       58

[1356 rows x 25 columns]

In [0]:
kmeans = KMeans(n_clusters=3)

In [0]:
kmeans.fit(dataset1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [0]:
print(kmeans.labels_)

[0 0 0 ... 1 1 1]